 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, #808080);
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 112px auto 0;
}

.u-section-1 .u-text-2 {
  width: 785px;
  margin: 170px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#808080, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-image-1 {
  width: 128px;
  height: 128px;
  background-image: url("images/Photo.png");
  background-position: 50% 50%;
  margin: 144px auto 0 133px;
}

.u-section-2 .u-text-1 {
  margin: -60px 44px 0 429px;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: -64px 831px 0 85px;
}

.u-section-2 .u-text-3 {
  margin: 20px 826px 0 80px;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 80px;
}

.u-section-2 .u-text-5 {
  margin: 43px auto 0 55px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: -4px auto 60px 55px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-text-1 {
    width: 803px;
    margin-left: 273px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 224px;
    margin-right: 716px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: 234px;
    margin-left: 0;
    margin-right: 706px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 486px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 316px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 116px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 106px;
  }
}