 .u-section-1 {
  background-image: linear-gradient(#1a1a1a, #808080);
}

.u-section-1 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 544px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 2px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 22px 0;
}

.u-section-1 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: -142px auto 60px 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 852px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-2 {
  background-image: linear-gradient(#808080, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 544px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }
} .u-section-3 {
  background-image: linear-gradient(#1a1a1a, #808080);
}

.u-section-3 .u-sheet-1 {
  min-height: 1041px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 544px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 43px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }
} .u-section-4 {
  background-image: linear-gradient(#808080, black);
}

.u-section-4 .u-sheet-1 {
  min-height: 938px;
}

.u-section-4 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-4 .u-image-1 {
  width: 516px;
  height: 245px;
  margin: 35px 41px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 519px;
  height: 245px;
  margin: 46px 38px 0 auto;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: -400px auto 60px 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    margin-right: 24px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 21px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 161px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 161px;
    margin-right: 0;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-top: -316px;
  }
} .u-section-5 {
  background-image: linear-gradient(black, #808080);
}

.u-section-5 .u-sheet-1 {
  min-height: 857px;
}

.u-section-5 .u-text-1 {
  margin: 67px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1179px;
  margin: 9px -39px 49px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-video-1 {
  height: 229px;
  width: 525px;
  margin: 86px auto 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-2 {
  width: 525px;
  height: 236px;
  margin: 48px auto 0;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 654px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 182px;
  height: 383px;
  margin: 86px auto 0 190px;
}

.u-section-5 .u-image-2 {
  width: 182px;
  height: 383px;
  margin: -383px 32px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 182px;
  height: 383px;
  margin: -383px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 521px;
  }

  .u-section-5 .u-video-1 {
    height: 203px;
    width: 465px;
  }

  .u-section-5 .u-video-2 {
    width: 465px;
    height: 209px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-5 .u-image-1 {
    height: 384px;
  }

  .u-section-5 .u-image-2 {
    height: 384px;
    margin-top: -384px;
  }

  .u-section-5 .u-image-3 {
    height: 384px;
    margin-top: -384px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-5 .u-video-1 {
    height: 155px;
    width: 355px;
  }

  .u-section-5 .u-video-2 {
    width: 355px;
    height: 160px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 399px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-5 .u-video-1 {
    height: 148px;
    width: 340px;
  }

  .u-section-5 .u-video-2 {
    width: 340px;
    height: 153px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 158px;
  }
}